<footer class="footer">
  <div class="footer__inner">
    <%# <p class="text-muted center"> %>
    <%#   <1%# <%= t('footer.attribute').html_safe %2> %1> %>
    <%# </p> %>
    <p class="text-muted center">
        Dudas o consultas? Ponte en <%= link_to "Contacto", "mailto:manentail@manentail.cl" %> - 
        Desarrollado por <%= link_to "Build and Create", "http://www.letsbuildandcreate.com" %>
    </p>
  </div>
</footer>
