<%# <header> %>
<%#   <div class="navbar navbar-default navbar-static-top" role="navigation"> %>
<%#     <div class="container"> %>
<%#       <div class="navbar-header"> %>
<%#         <1%# <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> %1> %>
<%#         <1%#   <span class="sr-only">Toggle navigation</span> %1> %>
<%#         <1%#   <span class="icon-bar"></span> %1> %>
<%#         <1%#   <span class="icon-bar"></span> %1> %>
<%#         <1%#   <span class="icon-bar"></span> %1> %>
<%#         <1%# </button> %1> %>
<%#         <1%# <%= link_to @current_storytime_site.title, "/", class: "navbar-brand" %2> %1> %>
<%#       <1%# </div> %1> %>
<%#     </div> %>
<%#   </div> %>
<%# </header> %>

<%# <div class='wrapper-menu'> %>
<%#   <ul id='menu'> %>
<%#     <li> %>
<%#       <a href="#">primer menu</a> %>
<%#     </li> %>
<%#     <li></li> %>
<%#     <li></li> %>
<%#     <li></li> %>
<%#     <li></li> %>
<%#     <li></li> %>
<%#   </ul> %>
<%# </div> %>
<%# <div class="bg-header-post"> %>
<%# </div> %>
